@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .on-scroll-lg {
    @apply h-screen flex justify-center items-center snap-start;
  }
  .line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
  .active {
    @apply bg-purple-800 text-white px-2 pt-2;
  }
}
